:root {
  --color-black: #000;
  --color-white: #fff;
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-500: #a9adc1;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;
  --color-gray-100: #f7f7f7;
  --color-gray-200: #e6e9ee;
  --color-gray-300: #dde0e4;
  --color-gray-400: #818890;
  --color-gray-500: #535661;
  --color-gray-600: #4b4c53;
  --color-gray-700: #3a3d4a;
  --color-gray-800: #2e3039;
  --color-gray-900: #1f2028;
  --color-red-300: #fca5a5;
  ---color-red-400: #f87171;
  --color-red-500: #ff4545;
  --color-green-300: #86efac;
  --color-green-400: #4ade80;
  --color-green-500: #30c85e;
  --color-blue-300: #93c5fd;
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b82f6;
  --color-yellow-500: #ffd644;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-slate-50);
  color: var(--color-gray-900);
}

.dark body {
  background-color: var(--color-gray-900);
  color: var(--color-slate-50);
}

.centerDiv {
  width: 89vw;
  max-width: 1280px;
  margin-inline: auto;
}

.h1Clamp {
  font-size: clamp(1.5rem, 1.2rem + 1.5vw, 2.5rem);
  line-height: clamp(1.5rem, 1.3rem + 1vw, 2.5rem);
}

.h2Clamp {
  font-size: clamp(1.25rem, 1.125rem + 0.625vw, 1.875rem);
  line-height: clamp(1.75rem, 1.65rem + 0.5vw, 2.25rem);
}

.baseClamp {
  font-size: clamp(1rem, 0.975rem + 0.125vw, 1.125rem);
  line-height: clamp(1.5rem, 1.45rem + 0.25vw, 1.75rem);
}

.lgClamp {
  font-size: clamp(1.125rem, 1.1rem + 0.125vw, 1.25rem);
  line-height: clamp(1.75rem, 1.75rem + 0vw, 1.75rem);
}
